! General options
URxvt.*termName:	rxvt
URxvt.background:	#191919
! URxvt*transparent:	true
URxvt*.shading: 	30
URxvt.foreground:	#615a5a
URxvt.cursorColor:	#005577
URxvt.cursorColor2:	#eeeeee
URxvt.cursorBlink:	false
URxvt.scrollBar:	off
URxvt.scrollstyle:	plain
URxvt.internalBorder: 	0
! URxvt.font:		xft:Monospace:size=9
URxvt.font:		xft:Inconsolata:size=10

! URxvt Perl extentions:
URxvt.perl-ext-common:	default,clipboard,matcher,keyboard-select

! copy/paste extension
URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.url-launcher:   /usr/bin/chromium
URxvt.underlineURLs:  True
URxvt.matcher.button: 1
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.M-c:     perl:clipboard:copy
URxvt.keysym.M-v:     perl:clipboard:paste
URxvt.keysym.M-C-v:   perl:clipboard:paste_escaped
URxvt.copyCommand:    xsel -ib
URxvt.pasteCommand:   xsel -ob

