[twitter]
update_frequency = 60
use_https = True

[bindings]
up = k
down = j
left = h
right = l
scroll_to_top = g
scroll_to_bottom = G
activate_first_buffer = a
activate_last_buffer = e
shift_buffer_beggining = ctrl a
shift_buffer_end = ctrl e
shift_buffer_left = <
shift_buffer_right = >
expand_visible_left = p
expand_visible_right = n
shrink_visible_left = P
shrink_visible_right = N
delete_buffer = d
mark_all_as_read = A
tweet = t
delete_tweet = X
reply = r
retweet = R
retweet_and_edit = E
retweet_and_fav = Y
send_dm = D
update = u
update_all = S
tweet_hashtag = H
fav = b
delete_fav = ctrl b
follow_selected = f
follow_user = F
unfollow_selected = U
unfollow_user = ctrl u
user_info = i
home = .
own_tweets = _
favorites = B
mentions = m
dms = M
search = /
search_user = @
user_timeline = +
thread = T
hashtags = L
retweets_of_me = I
help = ?
reload_config = C
clear = c
quit = q
openurl = o
open_status_url = O
redraw = ctrl l

[colors]
# Font color on activate tab
active_tab = white			
active_tab_bg = light gray

visible_tab = white
visible_tab_bg = dark gray

# Font color on inactive tab
inactive_tab = light blue
inactive_tab_bg = 

header = light blue
header_bg = 

body = white
body_bg = 

focus = light cyan
focus_bg = 
line = black
line_bg = 

unread = dark red
unread_bg = 

read = dark blue
read_bg = 

favorited = yellow
favorited_bg = 

highlight = dark red
highlight_bg = 
highlight_nick = light red
highlight_nick_bg = 

attag = yellow
attag_bg = 

hashtag = light green
hashtag_bg = 

url = dark green
url_bg = 

error = white
error_bg = dark red

info = white
info_bg = light blue

editor = white
editor_bg = light blue

[styles]
statuses_in_user_info = 3
dm_template =  {sender_screen_name} => {recipient_screen_name} - {time} 
tab_template = {timeline_name} [{unread}]
header_template =  {username}{retweeted}{retweeter} - {time}{reply} {retweet_count}
status_bar = True
url_format = shortened
editor_horizontal_align = center
editor_vertical_align = middle

# Configure divider char between tweets
box_around_status = True
status_divider = False
status_divider_char = ─

[debug]
logging_level = 3

